*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.page{
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.phone-box{
  width: 300px;
  height: 520px;
  border: 10px solid #222;
  border-radius: 35px;
  background: white;
  padding: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.phone-screen{
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(160deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.story-circle{
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-radius: 50%;
  margin-bottom: 20px;
}

.phone-screen h2{
  font-size: 35px;
  font-family: cursive;
}

.phone-screen p{
  margin-top: 10px;
}

.right-side{
  width: 350px;
}

.login-box{
  background: white;
  border: 1px solid #dbdbdb;
  padding: 35px 40px;
  text-align: center;
}

.login-box h1{
  font-size: 45px;
  font-family: cursive;
  margin-bottom: 30px;
}

input{
  width: 100%;
  padding: 11px;
  margin-bottom: 8px;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  border-radius: 3px;
  font-size: 12px;
}

button{
  width: 100%;
  padding: 9px;
  margin-top: 10px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.or{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 22px 0;
  color: #777;
  font-size: 13px;
  font-weight: bold;
}

.or span{
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.facebook{
  color: #385185;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 18px;
}

.forgot{
  color: #00376b;
  font-size: 12px;
}

.signup-box{
  background: white;
  border: 1px solid #dbdbdb;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-box span{
  color: #0095f6;
  font-weight: bold;
}

.get-app{
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

@media(max-width: 768px){
  .phone-box{
    display: none;
  }

  .page{
    padding: 20px;
  }

  .right-side{
    width: 100%;
    max-width: 350px;
  }
}